<div class="modal-header">
    <div class="modal-title">{{title|translate}}</div>
</div>

<div nz-form-item nz-row>
    <div nz-form-label nz-col [nzSm]="8" [nzXs]="24">
        <label for="rolename" nz-form-item-required>
            <span>
                {{'角色名称'|translate}}
            </span>
        </label>
    </div>
    <div nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
        <nz-input [nzSize]="'large'" [(ngModel)]='i.rolename'></nz-input>
    </div>
</div>

<form #f="ngForm" nz-form [formGroup]="validateForm">


    <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSm]="8" [nzXs]="24">
            <label for="menuids" nz-form-item-required>
                <span>
                    {{'菜单列表'|translate}}
                </span>
            </label>
        </div>
        <div nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
            <app-menuauth #appMenuSelect formControlName="menuids" name="menuids"></app-menuauth>
            <div nz-form-explain *ngIf="getFormControl('menuids').dirty&&getFormControl('menuids').hasError('required')">{{'Please input roleid!'|translate}}</div>
        </div>

    </div>
</form>

<div class="modal-footer">
    <button nz-button type="button" (click)="close()">{{"关闭"|translate}}</button>
    <button nz-button (click)="save()" [disabled]="!f.form.valid || !f.form.dirty" [nzLoading]="http.loading" [nzType]="'primary'">{{"保存"|translate}}</button>
</div>