<div class="modal-header">
    <div class="modal-title">添加导出任务</div>
</div>
<form #f="ngForm" nz-form [formGroup]="validateForm">
    <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
            <label for="csvdesc" nz-form-item-required>
                <span>
                    备注
                </span>
            </label>
        </div>
        <div nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
            <nz-input [nzSize]="'large'" formControlName="csvdesc"></nz-input>
        </div>
    </div>

</form>
<div class="modal-footer">
    <button nz-button type="button" (click)="close()">关闭</button>
    <button nz-button (click)="save()" [disabled]="!f.form.valid || !f.form.dirty" [nzLoading]="http.loading" [nzType]="'primary'">提交</button>
</div>