<div class="modal-header">
    <div class="modal-title">{{title|translate}}</div>
</div>
<form #f="ngForm" nz-form [formGroup]="validateForm">


    <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSm]="8" [nzXs]="24">
            <label for="propertyid" nz-form-item-required>
                <span>
                    {{'交易对属性'|translate}}
                </span>
            </label>
        </div>
        <div nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
            <app-skd-select formControlName="propertyid" [loadService]="propertyLoad" [key]="'propertyid'" [name]="'propertyid'"></app-skd-select>
            <div nz-form-explain *ngIf="getFormControl('propertyid').dirty&&getFormControl('propertyid').hasError('required')">{{'Please input propertyid!'|translate}}</div>
        </div>
    </div>

    <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSm]="8" [nzXs]="24">
            <label for="propertygroupid" nz-form-item-required>
                <span>
                    {{'属性组'|translate}}
                </span>
            </label>
        </div>
        <div nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
            <app-skd-select formControlName="propertygroupid" [loadService]="propertyGroupLoad" [key]="'propertygroupid'" [name]="'groupname'"></app-skd-select>
            <div nz-form-explain *ngIf="getFormControl('propertygroupid').dirty&&getFormControl('propertygroupid').hasError('required')">{{'Please input propertygroupid!'|translate}}</div>
        </div>
    </div>

</form>
<div class="modal-footer">
    <button nz-button type="button" (click)="close()">{{"关闭"|translate}}</button>
    <button nz-button (click)="save()" [disabled]="!f.form.valid || !f.form.dirty" [nzLoading]="http.loading" [nzType]="'primary'">{{"保存"|translate}}</button>
</div>