<nz-card>
    <ng-template #body>
        <form class="cform" nz-form [formGroup]="queryForm" (ngSubmit)="_submitQueryForm()">
            <div nz-form-item nz-row>
                <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
                    <label for="componentName" nz-form-item-required>componentName
                        <nz-tooltip [nzTitle]="'组件名称，如user，则生成 UserComponent 组件'">
                            <i nz-tooltip class="anticon anticon-question-circle-o"></i>
                        </nz-tooltip>
                    </label>
                </div>
                <div nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
                    <nz-input [nzSize]="'large'" formControlName="componentName" [nzId]="'componentName'"></nz-input>
                    <div nz-form-explain *ngIf="getFormControl(3, 'componentName').dirty&&getFormControl(3, 'componentName').hasError('required')">The input is not valid componentName</div>
                </div>
            </div>

            <div nz-form-item nz-row>
                <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
                    <label for="columns" nz-form-item-required>
                        <span>
                            columns
                            <nz-tooltip [nzTitle]="'查询接口columns定义'">
                                <i nz-tooltip class="anticon anticon-question-circle-o"></i>
                            </nz-tooltip>
                        </span>
                    </label>
                </div>
                <div nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
                    <nz-select nzAllowClear [nzPlaceHolder]="'input search text'" [nzFilter]="false" [nzSize]="'large'" (nzSearchChange)="searchQueryColumns($event)"
                        [nzNotFoundContent]="'无法找到'" formControlName="columns" nzShowSearch>
                        <nz-option *ngFor="let option of searchQueryColumnsOptions" [nzLabel]="option[0]" [nzValue]="option[0]">
                        </nz-option>
                    </nz-select>
                    <div nz-form-explain *ngIf="getFormControl(3, 'columns').dirty&&getFormControl(3, 'columns').hasError('required')">Please input your columns!</div>
                </div>
            </div>


            <div nz-form-item nz-row>
                <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
                    <label for="loadApi" nz-form-item-required>loadApi
                        <nz-tooltip [nzTitle]="'loadApi'">
                            <i nz-tooltip class="anticon anticon-question-circle-o"></i>
                        </nz-tooltip>
                    </label>
                </div>
                <div nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
                    <nz-select nzAllowClear [nzPlaceHolder]="'input search text'" [nzFilter]="false" [nzSize]="'large'" (nzSearchChange)="searchQueryApi($event)"
                        [nzNotFoundContent]="'无法找到'" formControlName="loadApi" nzShowSearch>
                        <nz-option *ngFor="let option of searchQueryApiOptions" [nzLabel]="option[0]" [nzValue]="option[0]">
                        </nz-option>
                    </nz-select>

                    <div nz-form-explain *ngIf="getFormControl(3, 'loadApi').dirty&&getFormControl(3, 'loadApi').hasError('required')">The input is not valid componentName</div>
                </div>
            </div>


            <div nz-form-item nz-row>
                <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
                    <label for="loadSumApi" nz-form-item-required>loadSumApi
                        <nz-tooltip [nzTitle]="'loadSumApi'">
                            <i nz-tooltip class="anticon anticon-question-circle-o"></i>
                        </nz-tooltip>
                    </label>
                </div>
                <div nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
                    <nz-select nzAllowClear [nzPlaceHolder]="'input search text'" [nzFilter]="false" [nzSize]="'large'" (nzSearchChange)="searchQueryApi($event)"
                        [nzNotFoundContent]="'无法找到'" formControlName="loadSumApi" nzShowSearch>
                        <nz-option *ngFor="let option of searchQueryApiOptions" [nzLabel]="option[0]" [nzValue]="option[0]">
                        </nz-option>
                    </nz-select>

                    <div nz-form-explain *ngIf="getFormControl(3, 'loadSumApi').dirty&&getFormControl(3, 'loadSumApi').hasError('required')">The input is not valid componentName</div>
                </div>
            </div>


            <div nz-form-item nz-row>
                <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
                    <label for="exportApi" nz-form-item-required>exportApi
                        <nz-tooltip [nzTitle]="'exportApi'">
                            <i nz-tooltip class="anticon anticon-question-circle-o"></i>
                        </nz-tooltip>
                    </label>
                </div>
                <div nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
                    <nz-select nzAllowClear [nzPlaceHolder]="'input search text'" [nzFilter]="false" [nzSize]="'large'" (nzSearchChange)="searchQueryApi($event)"
                        [nzNotFoundContent]="'无法找到'" formControlName="exportApi" nzShowSearch>
                        <nz-option *ngFor="let option of searchQueryApiOptions" [nzLabel]="option[0]" [nzValue]="option[0]">
                        </nz-option>
                    </nz-select>

                    <div nz-form-explain *ngIf="getFormControl(3, 'exportApi').dirty&&getFormControl(3, 'exportApi').hasError('required')">The input is not valid componentName</div>
                </div>
            </div>

            <div nz-form-item nz-row style="margin-bottom:8px;">
                <div nz-form-control nz-col [nzSpan]="14" [nzOffset]="6">
                    <button nz-button [nzSize]="'large'" [nzType]="'primary'">生成查询组件</button>
                </div>
            </div>
        </form>
    </ng-template>
</nz-card>


<nz-card>
    <ng-template #body>
        <form class="cform" nz-form [formGroup]="validateForm" (ngSubmit)="_submitForm()">
            <div nz-form-item nz-row>
                <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
                    <label for="componentName" nz-form-item-required>componentName
                        <nz-tooltip [nzTitle]="'组件名称，如user，则生成 UserComponent 组件'">
                            <i nz-tooltip class="anticon anticon-question-circle-o"></i>
                        </nz-tooltip>
                    </label>
                </div>
                <div nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
                    <nz-input [nzSize]="'large'" formControlName="componentName" [nzId]="'componentName'"></nz-input>
                    <div nz-form-explain *ngIf="getFormControl(1, 'componentName').dirty&&getFormControl(1, 'componentName').hasError('required')">The input is not valid componentName</div>
                </div>
            </div>

            <div nz-form-item nz-row>
                <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
                    <label for="columns" nz-form-item-required>
                        <span>
                            columns
                            <nz-tooltip [nzTitle]="'查询接口columns定义'">
                                <i nz-tooltip class="anticon anticon-question-circle-o"></i>
                            </nz-tooltip>
                        </span>
                    </label>
                </div>
                <div nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
                    <nz-select nzAllowClear [nzPlaceHolder]="'input search text'" [nzFilter]="false" [nzSize]="'large'" (nzSearchChange)="searchColumns($event)"
                        [nzNotFoundContent]="'无法找到'" formControlName="columns" nzShowSearch>
                        <nz-option *ngFor="let option of searchColumnsOptions" [nzLabel]="option[0]" [nzValue]="option[0]">
                        </nz-option>
                    </nz-select>
                    <div nz-form-explain *ngIf="getFormControl(1, 'columns').dirty&&getFormControl(1, 'columns').hasError('required')">Please input your columns!</div>
                </div>
            </div>


            <div nz-form-item nz-row>
                <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
                    <label for="loadApi" nz-form-item-required>loadApi
                        <nz-tooltip [nzTitle]="'loadApi'">
                            <i nz-tooltip class="anticon anticon-question-circle-o"></i>
                        </nz-tooltip>
                    </label>
                </div>
                <div nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
                    <nz-select nzAllowClear [nzPlaceHolder]="'input search text'" [nzFilter]="false" [nzSize]="'large'" (nzSearchChange)="searchApi($event)"
                        [nzNotFoundContent]="'无法找到'" formControlName="loadApi" nzShowSearch>
                        <nz-option *ngFor="let option of searchApiOptions" [nzLabel]="option[0]" [nzValue]="option[0]">
                        </nz-option>
                    </nz-select>

                    <div nz-form-explain *ngIf="getFormControl(1, 'loadApi').dirty&&getFormControl(1, 'loadApi').hasError('required')">The input is not valid componentName</div>
                </div>
            </div>

            <div nz-form-item nz-row>
                <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
                    <label for="deleteApi" nz-form-item-required>deleteApi
                        <nz-tooltip [nzTitle]="'deleteApi'">
                            <i nz-tooltip class="anticon anticon-question-circle-o"></i>
                        </nz-tooltip>
                    </label>
                </div>
                <div nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
                    <nz-select nzAllowClear [nzPlaceHolder]="'input search text'" [nzFilter]="false" [nzSize]="'large'" (nzSearchChange)="searchApi($event)"
                        [nzNotFoundContent]="'无法找到'" formControlName="deleteApi" nzShowSearch>
                        <nz-option *ngFor="let option of searchApiOptions" [nzLabel]="option[0]" [nzValue]="option[0]">
                        </nz-option>
                    </nz-select>

                    <div nz-form-explain *ngIf="getFormControl(1, 'deleteApi').dirty&&getFormControl(1, 'deleteApi').hasError('required')">The input is not valid componentName</div>
                </div>
            </div>


            <div nz-form-item nz-row>
                <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
                    <label for="deleteModel" nz-form-item-required>
                        <span>
                            deleteModel
                            <nz-tooltip [nzTitle]="'删除接口的model'">
                                <i nz-tooltip class="anticon anticon-question-circle-o"></i>
                            </nz-tooltip>
                        </span>
                    </label>
                </div>
                <div nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
                    <nz-select nzAllowClear [nzPlaceHolder]="'input search text'" [nzFilter]="false" [nzSize]="'large'" (nzSearchChange)="searchModel($event)"
                        [nzNotFoundContent]="'无法找到'" formControlName="deleteModel" nzShowSearch>
                        <nz-option *ngFor="let option of searchModelOptions" [nzLabel]="option[0]" [nzValue]="option[0]">
                        </nz-option>
                    </nz-select>
                    <div nz-form-explain *ngIf="getFormControl(1, 'deleteModel').dirty&&getFormControl(1, 'deleteModel').hasError('required')">Please input your deleteModel!</div>
                </div>
            </div>

            <div nz-form-item nz-row style="margin-bottom:8px;">
                <div nz-form-control nz-col [nzSpan]="14" [nzOffset]="6">
                    <button nz-button [nzSize]="'large'" [nzType]="'primary'">生成主界面组件</button>
                </div>
            </div>
        </form>
    </ng-template>
</nz-card>

<nz-card>
    <ng-template #body>
        <form class="cform" nz-form [formGroup]="editForm" (ngSubmit)="_submitEditForm()">

            <div nz-form-item nz-row>
                <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
                    <label for="componentName" nz-form-item-required>componentName
                        <nz-tooltip [nzTitle]="'组件名称，如user，则生成 UserComponent 组件'">
                            <i nz-tooltip class="anticon anticon-question-circle-o"></i>
                        </nz-tooltip>
                    </label>
                </div>
                <div nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
                    <nz-input [nzSize]="'large'" formControlName="componentName" [nzId]="'componentName'"></nz-input>
                    <div nz-form-explain *ngIf="getFormControl(2, 'componentName').dirty&&getFormControl(2, 'componentName').hasError('required')">The input is not valid componentName</div>
                </div>
            </div>
            <div nz-form-item nz-row>
                <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
                    <label for="columns" nz-form-item-required>columns
                        <nz-tooltip [nzTitle]="'columns'">
                            <i nz-tooltip class="anticon anticon-question-circle-o"></i>
                        </nz-tooltip>
                    </label>
                </div>
                <div nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
                    <nz-select nzAllowClear [nzPlaceHolder]="'input search text'" [nzFilter]="false" [nzSize]="'large'" (nzSearchChange)="searchColumns($event)"
                        [nzNotFoundContent]="'无法找到'" formControlName="columns" nzShowSearch>
                        <nz-option *ngFor="let option of searchColumnsOptions" [nzLabel]="option[0]" [nzValue]="option[0]">
                        </nz-option>
                    </nz-select>
                    <div nz-form-explain *ngIf="getFormControl(2, 'columns').dirty&&getFormControl(2, 'columns').hasError('required')">The input is not valid componentName</div>
                </div>
            </div>

            <div nz-form-item nz-row>
                <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
                    <label for="editModel" nz-form-item-required>editModel
                        <nz-tooltip [nzTitle]="'editModel'">
                            <i nz-tooltip class="anticon anticon-question-circle-o"></i>
                        </nz-tooltip>
                    </label>
                </div>
                <div nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
                    <nz-select nzAllowClear [nzPlaceHolder]="'input search text'" [nzFilter]="false" [nzSize]="'large'" (nzSearchChange)="searchModel($event)"
                        [nzNotFoundContent]="'无法找到'" formControlName="editModel" nzShowSearch>
                        <nz-option *ngFor="let option of searchModelOptions" [nzLabel]="option[0]" [nzValue]="option[0]">
                        </nz-option>
                    </nz-select>
                    <div nz-form-explain *ngIf="getFormControl(2, 'editModel').dirty&&getFormControl(2, 'editModel').hasError('required')">The input is not valid componentName</div>
                </div>
            </div>


            <div nz-form-item nz-row>
                <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
                    <label for="updateApi" nz-form-item-required>
                        <span>
                            updateApi
                            <nz-tooltip [nzTitle]="'删除接口的model'">
                                <i nz-tooltip class="anticon anticon-question-circle-o"></i>
                            </nz-tooltip>
                        </span>
                    </label>
                </div>
                <div nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
                    <nz-select nzAllowClear [nzPlaceHolder]="'input search text'" [nzFilter]="false" [nzSize]="'large'" (nzSearchChange)="searchApi($event)"
                        [nzNotFoundContent]="'无法找到'" formControlName="updateApi" nzShowSearch>
                        <nz-option *ngFor="let option of searchApiOptions" [nzLabel]="option[0]" [nzValue]="option[0]">
                        </nz-option>
                    </nz-select>

                    <div nz-form-explain *ngIf="getFormControl(2, 'updateApi').dirty&&getFormControl(2, 'updateApi').hasError('required')">Please input your deleteModel!</div>
                </div>
            </div>

            <div nz-form-item nz-row style="margin-bottom:8px;">
                <div nz-form-control nz-col [nzSpan]="14" [nzOffset]="6">
                    <button nz-button [nzSize]="'large'" [nzType]="'primary'">生成编辑组件</button>
                </div>
            </div>
        </form>
    </ng-template>
</nz-card>