<div class="modal-header">
    <div class="modal-title">{{title|translate}}</div>
</div>
<form #f="ngForm" nz-form [formGroup]="validateForm">


    <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSm]="8" [nzXs]="24">
            <label for="roleid" nz-form-item-required>
                <span>
                    {{'角色id'|translate}}
                </span>
            </label>
        </div>
        <div nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
            <nz-input-number [nzSize]="'large'" formControlName="roleid" [nzStep]="1" [nzMax]="1000000" [nzMin]="0"></nz-input-number>
            <div nz-form-explain *ngIf="getFormControl('roleid').dirty&&getFormControl('roleid').hasError('required')">{{'Please input roleid!'|translate}}</div>
        </div>
    </div>

</form>
<div class="modal-footer">
    <button nz-button type="button" (click)="close()">{{"关闭"|translate}}</button>
    <button nz-button (click)="save()" [disabled]="!f.form.valid || !f.form.dirty" [nzLoading]="http.loading" [nzType]="'primary'">{{"保存"|translate}}</button>
</div>